@include sp-layout {
  .developer-page {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(255,255,255,0.6);
    overflow: hidden;
    display: none;

    &::before {
      content: ""; display: block;
      width: 100%; height: 100%;
      background-size: auto 100%;
      background-image: url(../images/developer-page/bg-yui.svg);
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0.2;
    }

    .inner {
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }

    .title img {
      width: 80%;
      display: block;
      margin: 0 auto;
      margin-top: 70px;
    }

    .icon {
      width: 45%;
      display: block;
      margin: 0 auto;
      border-radius: 50%;
      border: solid 5px #333;
      margin-top: 40px;
    }

    .name {
      width: 140px;
      background-color: #fff;
      border-left: solid 10px #333;
      font-size: 30px;
      text-align: center;
      line-height: 50px;
      box-shadow: 0 0 10px rgba(0,0,0,0.3);
      margin: 0 auto;
      margin-top: -15px;
      position: relative;
    }

    .description {
      font-size: 12px;
      line-height: 2.5;
      text-align: center;
      margin-top: 40px;
      color: #555;
      padding: 0 10px;
      box-sizing: border-box;
    }

    .sns-box {
      width: 140px;
      margin: 0 auto;
      margin-top: 30px;
      
      a {
        float: left;
        width: 40px; height: 40px;
        font-size: 30px;
        text-align: center;
        line-height: 40px;
        display: block;
        margin-right: 10px;
        color: #444;
      }
      a:last-child { margin-right: 0; }

      &::after { content: ""; display: block; clear: both; }
    }

    .supporter-box {
      width: 80%;
      margin: 0 auto;
      margin-top: 40px;
      margin-bottom: 100px;

      p {
        width: 100%;
        height: 40px;
        background-color: #333;
        margin-bottom: 10px;
        line-height: 40px;
        text-align: center;

        strong {
          font-size: 13px;
          color: #fff;
          display: inline-block;
          margin-right: 5px;
        }
        span {
          font-size: 10px;
          color: #ccc;
        }
      }
    }
  }
}
