@include sp-layout {
  .motion-part2 {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: #fff;
    overflow: hidden;
    z-index: 8;
  }

  /*** bg ***/
  .motion-part2__bg {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    opacity: 0;

    div {
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      box-sizing: border-box;
    }

    div:nth-child(1) {
      background-image: url(../images/motion-part2/bg-text.svg);
      background-size: 250px;
    }
    div:nth-child(2) {
      background-image: url(../images/motion-part2/bg-star.svg);
      background-size: 20px;
      opacity: 0.5;
    }
    div:nth-child(3) {
      top: 0%; width: 150%;
      background-image: url(../images/motion-part2/bg-dot.svg);
      background-size: 25px;
      border-top: solid 5px $theme-light-pink;
      transform-origin: left top;
      transform: rotate(0deg);
    }
  }

  /*** paint ***/
  .motion-part2__paint {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;

    div {
      width: 100%; height: 25%;
      background-color: $theme-pink;
    }
  }
  .motion-part2__paint_type_1 { div { transform: translateX(-100%); } }
  .motion-part2__paint_type_2 { div { transform: translateX(100%); } }

  /*** scense ***/
  .motion-part2__scense {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    opacity: 0;

    .char {
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background-repeat: no-repeat;
    }

    .say {
      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50%, -50%) rotate(5deg);
      display: block;
      background-color: #fff;
      padding: 10px;
      box-shadow: 0 0 20px rgba(0,0,0,0.1);
      opacity: 0;
    }
  }
  .motion-part2__scense_type_1 {
    .char {
      background-image: url(../images/motion-part2/silhouette/2.svg);
      background-size: auto 110%;
      background-position: center;
    }
    .say { width: 90%; }
  }
  .motion-part2__scense_type_2 {
    .char {
      background-image: url(../images/motion-part2/silhouette/1.svg);
      background-size: auto 110%;
      background-position: center top;
    }
    .say { width: 40%; }
  }

  /*** end ***/
  .motion-part2__end {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;

    div {
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      transform: translateY(-100%);
    }
    div:nth-child(1) {
      background-color: $theme-light-pink;
      background-image: url(../images/motion-part2/bg-dot2.svg);
      background-size: 25px;
    }
    div:nth-child(2) {
      background-image: url(../images/motion-part2/bg-label.svg);
      background-size: 200px;
      background-position: center bottom;
    }
    div:nth-child(3) {
      background-color: #fff;
      &::after {
        content: ""; display: block;
        width: 100%; height: 100%;
        background-image: url(../images/top-page/bg-dot.svg);
        background-size: 120px;
        opacity: 0.5;
      }
    }
  }


  /**********************************************************************************************
   * animation
   **********************************************************************************************/
  .motion-part2[data-state="start"] {
    .motion-part2__bg {
      animation: fadein 1.4s ease 0s forwards;
      div:nth-child(3) { animation: motion-part2__show-bg 1s ease 0.4s forwards; }
    }

    .motion-part2__paint_type_1 {
      div:nth-child(1) {
        animation:
          slide-right 0.5s ease 1.4s forwards,
          slide-left 0.5s ease 1.85s reverse forwards;
      }
      div:nth-child(2) {
        animation:
          slide-right 0.5s ease 1.55s forwards,
          slide-left 0.5s ease 2s reverse forwards;
      }
      div:nth-child(3) {
        animation:
          slide-right 0.5s ease 1.7s forwards,
          slide-left 0.5s ease 2.15s reverse forwards;
      }
      div:nth-child(4) {
        animation:
          slide-right 0.5s ease 1.85s forwards,
          slide-left 0.5s ease 2.3s reverse forwards;
      }
    }

    .motion-part2__scense_type_1 {
      animation:
        fadein 0.1s ease 2s forwards,
        fadeout 0.1s ease 4.25s forwards;
      .say { animation: motion-part2__show-say 0.8s ease 2.8s forwards; }
    }
    
    .motion-part2__paint_type_2 {
      div:nth-child(1) {
        animation:
          slide-left 0.5s ease 3.6s forwards,
          slide-right 0.5s ease 4.05s reverse forwards;
      }
      div:nth-child(2) {
        animation:
          slide-left 0.5s ease 3.75s forwards,
          slide-right 0.5s ease 4.2s reverse forwards;
      }
      div:nth-child(3) {
        animation:
          slide-left 0.5s ease 3.9s forwards,
          slide-right 0.5s ease 4.35s reverse forwards;
      }
      div:nth-child(4) {
        animation:
          slide-left 0.5s ease 4.05s forwards,
          slide-right 0.5s ease 4.5s reverse forwards;
      }
    }
    
    .motion-part2__scense_type_2 {
      animation:
        fadein 0.1s ease 4.25s forwards;
      .say { animation: motion-part2__show-say 0.8s ease 5s forwards; }
    }

    .motion-part2__end {
      div:nth-child(1) { animation: motion-part2__end__so 0.6s ease 5.8s forwards; }
      div:nth-child(2) { animation: motion-part2__end__sp 0.6s ease 6.3s forwards; }
      div:nth-child(3) { animation: motion-part2__end__sp 0.6s ease 6.8s forwards; }
    }
  }
}
