@include pc-layout {
  .load-view {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    min-width: $min-width;
    min-height: $min-height;
    overflow: hidden;

    &::before {
      content: ""; display: block;
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background-image: url(../images/load-view/bg.svg);
      background-size: 80px;
      opacity: 0;
    }
  }

  /*** bg ***/
  .load-view__bg {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: $theme-brown;

    .inner {
      position: absolute;
      top: 20px; left: 20px;
      width: calc(100% - 40px); height: calc(100% - 40px);
      background-color: #fff;
      transform: rotate(-2deg);

      &::before {
        content: ""; display: block;
        position: absolute;
        left: 20px; top: 20px;
        width: calc(100% - 40px); height: calc(100% - 40px);
        box-sizing: border-box;
        border: dashed 1px $theme-light-brown;
      }

      div {
        position: absolute;
        width: 50px; height: 50px;

        &::before,
        &::after {
          content: ""; display: block;
          position: absolute; background-color: $theme-light-brown;
        }
        &::before { width: 100%; height: 4px; }
        &::after  { width: 4px; height: 100%; }
      }
      div:nth-child(1) { top: 20px; left: 20px; }
      div:nth-child(2) {
        top: 20px; right: 20px;
        &::after { right: 0; }
      }
      div:nth-child(3) {
        bottom: 20px; left: 20px;
        &::before { bottom: 0; }
      }
      div:nth-child(4) {
        bottom: 20px; right: 20px;
        &::before { bottom: 0; }
        &::after  { right: 0; }
      }
    }
  }
}
