@keyframes motion-part1__show-bg {
  from { opacity: 0; }
  to   { opacity: 0.5; }
}

@keyframes motion-part1__show-name {
  0%   { transform: translate(-20%, -50%) scale(0); }
  40%  { transform: translate(-20%, -50%) scale(1.5); }
  100% { transform: translate(-20%, -50%) scale(1); }
}
@keyframes motion-part1__show-char {
  0%   { transform: translateX(-73%) scale(0); }
  40%  { transform: translateX(-73%) scale(1.1); }
  100% { transform: translateX(-73%) scale(1); }
}

@keyframes motion-part1__show-color-ball {
  from { transform: scale(0); }
  to   { transform: scale(4); }
}
