@keyframes top-page__show-bg {
  from { opacity: 0; }
  to   { opacity: 0.3; }
}

@keyframes top-page__show-frame {
  from { transform: rotate(0deg); }
  to   { transform: rotate(-3deg); }
}

@keyframes top-page__show-happy-birthday {
  from { opacity: 0; transform: translateX(-10px); }
  to   { opacity: 1; transform: translateX(0px); }
}
