$min-width: 1100px;
$min-height: 650px;

$theme-pink: #b46d95;
$theme-light-pink: #EDC8CF;
$theme-light-blue: #ADDDF7;
$theme-light-orange: #EFCEC7;
$theme-light-yellow: #F7E4C6;
$theme-light-brown: #DBBEB6;
$theme-brown: #9B5B42;
$theme-light-purple: #C7B3D6;
$theme-light-green: #B7D7B6;
